<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
</head>
<body>
<div id="loginBox">
  <form action = "/signup" method = "post">
    <fieldset id="SignForm">
      <h3 id="loginTitle">회원가입</h3>
      <label for="name"></label>
      <input id="name" type="text" placeholder="  이름" name = "realName" required>
      <label for="id"></label>
      <input id="id" type="text" placeholder="  아이디(4~8자 숫자 포함)" name = "nickName" required>
      <label for="pw"></label>
      <p th:if="${param.error}">이미 존재하는 아이디입니다!</p>
      <input id="pw" type="text" placeholder="  비밀번호(8자 이상, 특수문자, 숫자 포함)" name = "password" required>
      <label for="pn"></label>
      <input id="pn" type="text" placeholder="  전화번호 - 없이" name = "phoneNumber" required>
      <div id="function">
        <p id="signUp">회원가입</p>
        <p id="missingId">아이디 찾기</p>
        <p id="missingPassword">비밀번호 찾기</p>
      </div>
      <button type = "submit" id="loginButton">회원가입 하기</button>
    </fieldset>

  </form>
</div>

</body>
</html>